# dependencies
node_modules/

# environment variables (VERY IMPORTANT)
.env

# logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/

# IDE files
.vscode/
.idea/

# temporary files
*.tmp
*.temp